In [2]:
import pandas as pd
import pickle
import numpy as np

In [22]:
data = pd.read_json("fever_3.json", lines=True)
data

,0,1,2,3,4,5,6,7,8,9,...,8402,8403,8404,8405,8406,8407,8408,8409,8410,8411
0,{'claim': 'The Black Dahlia was only written b...,{'claim': 'Dennis Hopper did not act in an Ame...,"{'claim': 'Bal Gangadhar Tilak was a judge.', ...",{'claim': 'Luke Evans took a five-year acting ...,{'claim': 'Colin Quinn's middle name is Edward...,{'claim': 'Spain shares a border with Morocco....,{'claim': 'Fernando Alonso was born in Cordoba...,{'claim': 'Manchester City F.C. was purchased ...,{'claim': 'Quinoa is not grown as a grain crop...,{'claim': 'Evan Rachel Wood avoided to appear ...,...,"{'claim': 'Hilary Swank was born in 1974.', 't...",{'claim': 'Whitey Bulger was sentenced by Atto...,"{'claim': 'John Cusack is an actor.', 'triples...",{'claim': 'Azerbaijan has a high degree of lit...,{'claim': 'Avatar: The Last Airbender is a tel...,{'claim': 'Jack Black is an American actor tha...,"{'claim': 'Michael Jackson was born in 2009.',...",{'claim': 'The Taj Mahal attracts 7-8 million ...,{'claim': 'The Carmichael Show's seasons have ...,{'claim': 'Issur Danielovitch was the name giv...

In [23]:
data.to_json("temp.json")

In [24]:
train = pickle.load(open("train_fever_3", "rb"))

In [17]:
# train.to_csv("train_fever_3.csv")

In [25]:
train.to_json("train_fever_3.json")